*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

body {
    font-family: 'Tangerine', serif;
    font-size: 48px;   
}

#logo {
    float: left;
    height: 15rem;
    margin-left: 1rem;
    margin-top: 1rem;
    overflow: hidden;    
}

.side-to-side {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    align-items: center;
}

/*Navigation links*/

.menu {
    font-size: 110%;
    letter-spacing: .4rem;
}

.menu li {
    list-style-type: none;
    margin: 2.4rem 0;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    background-color: blue;
    color: white;
}
 
/* First section*/

section {
    height: 50vh;
    
    /* FLEX PARENT PROPERTIES */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}
div {
    background-color: orangered;
    text-align: center;
    /*justify-content: center;*/
    font-size: 3rem;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
}

/* Footer*/

footer {
    height: 50px;
    background-color: blue;
}
.social-networks {
    text-align: center;
}
.social-networks>li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 10px 75px;
    color: black;
}
.social-networks i:hover {
    color: white;
}
